.header-page-admin {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //height: 120px;
    //padding: 20px 40px;
    
    > h2 {
        margin: 0;
    }
}